body {

    font-family: futura, sans-serif;
    background-color: #4CAF50;
    color: black;

}

.top-bar {
    background-color: grey; /* Change to the desired background color */
    color: black; /* Change to the desired font color */
    text-align: center;
    padding: 10px 0; /* Adjust the padding as needed */
}